
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

$base-font-family: 'Inter', sans-serif;
$base-font-weight: 300;
$bold-font-weight: 500;
$base-font-size: 14px;
$base-line-height: 1.6;

$color0: #5B507A; // purple navy
$color1: #5B618A; // dark blue-gray
$color2: #9EADC8; // wild blue yonder
$color3: #B9E28C; // yellow-green (crayola)
$color4: #D6D84F; // maximum green yellow

$color-fg: #333;
$color-bg: transparentize($color2, 0.9);

$primary: $color1;

* {
  box-sizing: border-box;
}

html {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size:   $base-font-size;
  line-height: $base-line-height;

  color: $color-fg;
  background-color: $color-bg;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: $primary;
}

.view {
  display: flex;
  flex-direction: column;

  & > .view-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
  }

  & > .view-container {
  }
}

.note-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  border: 1px solid $primary;
  border-radius: 0.25rem;

  padding: 0.5rem;
  margin: 0.5rem;
  width: 20rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem 0.5rem transparentize($primary, 0.9);

  & > .box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;

    border-bottom: 1px solid $primary;

    & > .box-title {
      font-weight: $bold-font-weight;
      display: inline-block;
      padding: 0 1rem;
      margin: 0;

      & > .box-date {
        font-weight: $base-font-weight;
        color: lighten(#333, 10%);
      }

      & > .box-tags {
        font-weight: $base-font-weight;
        color: lighten(#333, 10%);
      }
    }

    & > .box-actions {
      flex-shrink: 0;
    }
  }

  & > .box-body {
    text-align: justify;
    padding: 0 1rem;
  }
}

button {
  border: none;
  background-color: inherit;
  padding: 0;

  &:hover {
    color: $color2;
  }

  &:active {
    background-color: $color2;
    color: #fff;
  }
}

a.button.icon, button.button.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  color: $primary;
  border-radius: 0.25rem;

  transition: all 0.1s;

  &.small {
    width: 24px;
    height: 24px;
  }

  &:hover {
    color: lighten($primary, 20%);
  }

  &:active {
    color: #fff;
    background-color: transparentize($primary, 0.5);
  }
}

#overview {
  display: flex;
  flex-direction: row;

  & > .action-container {
    margin: 0.5rem;
  }
}

input[type="text"] {
  font: inherit;

  border: none;
  border-bottom: 1px solid transparentize($primary, 0.9);
  width: 100%;

  transition: 0.1s all;

  &:focus {
    border-color: transparentize($primary, 0.5);
  }
}

textarea {
  font: inherit;

  border: 1px solid transparentize($primary, 0.9);
  width: 100%;
  height: 10rem;
  margin: 1rem 0;

  transition: 0.1s all;

  &:focus {
    border-color: transparentize($primary, 0.5);
  }
}

#new-note {
  max-width: 40rem;
  width: 100%;
}

.tag {
  border: 1px solid $primary;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0;

  & > button.button {
    padding: 0.125rem;
    border-left: 1px solid $primary;

    &:hover {
      color: $color2;
    }

    &:active {
      color: $color3;
      background-color: #fff;
    }
  }
}

.tag-input {
  border: 1px solid $color3;
  border-radius: 0.25rem;
  padding: 0.5rem;

  & > input[type="text"] {
    width: 25%;
    border-color: transparent;

    &:focus {
      border-color: $color3;
    }
  }
}
